<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="menu.html :: head">
<meta charset="ISO-8859-1">
<title>Nosotros</title>
</head>
<body id="page-top">
	<th:block th:replace="menu.html :: header">
	</th:block>
	<br>
	<div class="container">
		<div class="card text-center">
			<br> <br>
			<br>
			<br>
			<br>

			<div class="card-header">
				<h1 class="h1">Municipalidad de Ica.</h1>
			</div>
			<div class="card-body">
				<h5 class="card-title h5">Integrantes de grupo:</h5>
				<p class="card-text texto">Marco Antonio Muñoz Melendez</p>
			</div>
			<div class="card-footer text-muted"></div>
			<br><br>
		</div>
	</div>
	<th:block th:replace="menu.html :: footer"></th:block>
</body>
</html>