<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="menu.html :: head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Principal</title>
</head>
<body class="page-top">
	
	<th:block th:replace="menu.html :: header">
	</th:block>
	<br><br><br>
	<!-- our -->
	<div id="games" class="our">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2>Noticias de Ica</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 margin_bottom">
					<div class="row">

						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									<img th:src="@{/resources/images/noticia1.jpg}"
										style="width: 335px; height: 290px;" alt="#" />
								</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<div class="Games">
								<h3>Contra la covid gratuita:</h3>
								<p style="text-align: justify;">Lorem ipsum dolor sit
									amet consectetur adipisicing elit. Ab corrupti veritatis
									quisquam repellat quod quaerat voluptatem, magnam magni tenetur
									quidem quae aliquam placeat est animi laborum cumque fugit
									totam mollitia maxime architecto. Dolores deleniti fugit autem,
									officiis deserunt dolor nulla odit, officia earum corporis
									error enim exercitationem quae laboriosam adipisci molestias
									nesciunt placeat beatae, nostrum iure similique quo qui
									quisquam corrupti. Ducimus, perferendis voluptas aliquam,
									maiores quam, explicabo ipsum impedit distinctio iste eum
									alias. Placeat neque delectus doloremque eum expedita aliquid
									hic totam quisquam nihil reprehenderit, aspernatur et at sequi
									enim magnam labore blanditiis vero culpa sapiente tempore
									possimus dignissimos corporis porro magni. Veniam modi
									voluptates iure expedita esse ad in id repudiandae nostrum
									reiciendis similique commodi libero nam delectus quos corrupti,
									suscipit quas unde, pariatur aliquid doloremque, vel sed
									facilis. Earum quod nostrum at. Laborum, similique sunt.
									Incidunt, assumenda dignissimos modi quasi officia veniam
									maxime voluptatum placeat unde deleniti consequatur possimus.
									Obcaecati excepturi quibusdam veniam eligendi illo sint culpa
									quaerat nisi alias commodi earum deserunt numquam et reiciendis
									quasi officia unde id qui sed vero inventore, incidunt,
									quisquam aperiam exercitationem! Odio officia molestias at.
									Nihil ab iusto cumque quas nisi vero, impedit delectus dicta
									excepturi quisquam eveniet? Iure optio, consectetur enim cum
									distinctio, reprehenderit ab ex quidem vel maiores recusandae
									minima harum quae ipsum numquam dignissimos architecto sint ea
									deleniti impedit animi error! Rerum, officia soluta. Nihil
									cumque necessitatibus rerum, quia nam ab maxime assumenda
									atque. Consequatur id, veniam odio aperiam delectus neque
									maiores dicta recusandae porro ut debitis, nisi placeat harum
									voluptates! Inventore repudiandae explicabo id accusamus
									nesciunt excepturi quidem odio doloribus, suscipit perferendis.</p>
								<a
									href="https://www.gob.pe/institucion/pcm/campa%C3%B1as/3451-campana-nacional-de-vacunacion-contra-la-covid-19">Leer
									mas..</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 margin_bottom">
					<div class="row">

						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									<img th:src="@{/resources/images/notica2.jpeg}"
										style="width: 335px; height: 290px;" alt="#" />
								</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<div class="Games">
								<h3>MUNICIPALIDAD DE ICA INICIo CON EL ASFALTADO DE LA OBRA
									PISTA Y VEREDAS</h3>
								<p style="text-align: justify;">Lorem ipsum dolor sit
									amet consectetur adipisicing elit. Ab corrupti veritatis
									quisquam repellat quod quaerat voluptatem, magnam magni tenetur
									quidem quae aliquam placeat est animi laborum cumque fugit
									totam mollitia maxime architecto. Dolores deleniti fugit autem,
									officiis deserunt dolor nulla odit, officia earum corporis
									error enim exercitationem quae laboriosam adipisci molestias
									nesciunt placeat beatae, nostrum iure similique quo qui
									quisquam corrupti. Ducimus, perferendis voluptas aliquam,
									maiores quam, explicabo ipsum impedit distinctio iste eum
									alias. Placeat neque delectus doloremque eum expedita aliquid
									hic totam quisquam nihil reprehenderit, aspernatur et at sequi
									enim magnam labore blanditiis vero culpa sapiente tempore
									possimus dignissimos corporis porro magni. Veniam modi
									voluptates iure expedita esse ad in id repudiandae nostrum
									reiciendis similique commodi libero nam delectus quos corrupti,
									suscipit quas unde, pariatur aliquid doloremque, vel sed
									facilis. Earum quod nostrum at. Laborum, similique sunt.
									Incidunt, assumenda dignissimos modi quasi officia veniam
									maxime voluptatum placeat unde deleniti consequatur possimus.
									Obcaecati excepturi quibusdam veniam eligendi illo sint culpa
									quaerat nisi alias commodi earum deserunt numquam et reiciendis
									quasi officia unde.</p>
								<a
									href="http://www.muniica.gob.pe/2021/04/20/municipalidad-de-ica-inicio-con-el-asfaltado-de-la-obra-pista-y-veredas/"
									target="blank">Leer mas..</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									<img th:src="@{/resources/images/Juntos-contra-covid.jpg}"
										alt="#" style="width: 335px; height: 290px;" />
								</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<div class="Games">
								<h3>Juntos contra la Covid-19</h3>
								<p style="text-align: justify;">Lorem ipsum dolor sit
									amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi Lorem
									ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et</p>
								<a href="https://es.wikipedia.org/wiki/COVID-19"
									target="target_blank">leer mas..</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br>
	</div>

	<th:block th:replace="menu.html :: footer">
	</th:block>
</body>
</html>